html {
  scroll-behavior: smooth;
  font-family: "DotGothic16", sans-serif;
}

:root {
  --wht: #f8f8f8;
  --blk: #28282b;
  --grn: #00ff41;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-width: 320px;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 1.6;
  color: var(--wht);
  background-color: var(--blk);
}

img {
  width: 100%;
  display: block;
}
a,
button {
  font-family: inherit;
  text-decoration: none;
}

button {
  width: 100%;
  max-width: 600px;
}

button:hover {
  color: var(--grn);
  cursor: pointer;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1024px;
  margin: 0 auto;
}
